span {
  padding: 0 10px;
}

body {
  background-color:  #f4e1d2;
  font-size: 16px;
  font-weight: bold;
}


#random span#first{
  font-size: 20px;
  color: red;
  font-weight: 500;
}

#random span.numberrandom {
  font-weight: bold;
  font-size: 25px;
  animation-name: scale;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }
}
.mt-10 {
  margin-top: 100px;
}
