span {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

#number {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100px;
}
